mbh98emu/downloads/
mbh98emu/instrumental/
mbh98emu/proxy/
mbh98emu/reconstruction/**
!mbh98emu/reconstruction/**/
!mbh98emu/reconstruction/**/nhem_dense.txt
!mbh98emu/reconstruction/**/nhem_sparse.txt
mbh98emu/validation/
__pycache__/
